{{ define "main" }}
<header>
    <h1 id="{{.Params.title}}">{{.Params.title}}</h1>
</header>
<main>
    {{partial "default-content" .}}
    {{ $home := .Site.Home }}
    <div class="css-treeview box">
        {{ template "section-tree-nav" .CurrentSection }}
    </div>
</main>
{{ end }}


{{ define "section-tree-nav" }}
<ul>
    <li><input type="checkbox" id="section-tree-item-{{.Title}}" checked="checked" /><label for="section-tree-item-{{.Title}}">{{.Title}}</label>
        <ul>
            {{partial "article-params-card" .}}
            <!--This conditional ordering must be done more elegantly. Conditionally (re)assigning $pages within the if condition does not work.-->
            {{if eq .Params.order "reverseDate"}}
            {{ $pages := .Pages.ByDate.Reverse }}
            {{ range $pages}}
            {{partial "article-params-card" .}}
            {{ end }}
            {{ else }}
            {{$pages := .Pages.ByTitle}}
            {{ range $pages}}
            {{partial "article-params-card" .}}
            {{ end }}
            {{ end }}
            
            {{ range .Sections.ByTitle}}
            <li>
                {{ template "section-tree-nav" . }}
            </li>
            {{ end }}
        </ul>
    </li>
</ul>
{{ end }}

